In [1]:
#Para evitar la descarga local del archivo, conecto la API de Kaggle, para luego descargar el dataset y guardarlo en el drive.
! pip install -q kaggle

In [4]:
#Creacion del directorio
! mkdir ~/.kaggle

In [5]:
! cp kaggle.json ~/.kaggle/

In [6]:
#Cambio los permisos para que me permita leer las credenciales
!chmod 600 ~/.kaggle/kaggle.json

In [1]:
#Pruebo que funcione, listando los datasets
! kaggle datasets list

ref                                                                   title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                                 Data Science Salaries 2023 üí∏                         25KB  2023-04-13 09:55:16          30818        844  1.0
tawfikelmetwally/automobile-dataset                                   Car information dataset                               6KB  2023-05-28 18:26:48           3232         88  0.9411765
fatihb/coffee-quality-data-cqi                                        Coffee Quality Data (CQI May-2023)                   22KB  2023-05-12 13:06:39           5559        114  1.0
mohithsairamreddy/salary-data                                         Salary_Data                                          17KB  2023-05-18 14:05:19           5494        107  0.88235295
mauryansshivam/netflix-ott-revenue-and-subscribers-csv-file           Netflix OTT Revenue and Subscribers (CSV File)        2KB  2023-05-13 17:40:23           2736         62  1.0
omarsobhy14/mcdonalds-revenue                                         üçüüí∞From Flipping Burgers to Billions: McDonald's      565B  2023-06-01 23:22:49            658         30  1.0
drahulsingh/list-of-best-selling-ps4-games                            List of best-selling PlayStation 4 video games        2KB  2023-06-11 17:36:59            609         23  1.0
zsinghrahulk/rice-pest-and-diseases                                   Rice - Pest and Diseases                            312KB  2023-06-01 08:57:29            672         29  1.0
iammustafatz/diabetes-prediction-dataset                              Diabetes prediction dataset                         734KB  2023-04-08 06:11:45          16104        237  1.0
vstacknocopyright/fruit-and-vegetable-prices                          Fruit and Vegetable Prices                            1KB  2023-06-02 06:17:43           1084         32  0.7647059
bilalwaseer/microsoft-stocks-from-1986-to-2023                        Microsoft Stocks from 1986 to 2023                  120KB  2023-05-16 10:07:28           1051         30  1.0
darshanprabhu09/stock-prices-for                                      Stock prices of Amazon , Microsoft , Google, Apple   85KB  2023-05-16 15:17:16           2137         46  1.0
rajkumarpandey02/2023-world-population-by-country                      World Population by Country                         38KB  2023-06-01 06:10:41           2007         39  1.0
danishjmeo/karachi-housing-prices-2023                                Karachi_Housing_Prices_2023                           1MB  2023-06-01 07:08:13            547         28  0.9411765
adityaramachandran27/world-air-quality-index-by-city-and-coordinates  World Air Quality Index by City and Coordinates     372KB  2023-05-07 07:29:26           2113         45  1.0
dansbecker/melbourne-housing-snapshot                                 Melbourne Housing Snapshot                          451KB  2018-06-05 12:52:24         117909       1283  0.7058824
pushpakhinglaspure/oscar-dataset                                      Oscar Academy Award-winning films 1927-2022         161KB  2023-05-21 18:14:44            906         32  1.0
aryansingh0909/weekly-patent-application-granted                      Patent Application Granted Dataset                    6MB  2023-06-01 19:04:40            403         24  1.0
krishnaraj30/salary-prediction-data-simple-linear-regression          Salary Prediction Data - Simple linear regression    734B  2023-06-05 01:05:41            509         25  1.0
utkarshx27/heart-disease-diagnosis-dataset                            Heart Disease Prediction Dataset                      3KB  2023-05-26 09:33:13           1449         37  1.0

In [2]:
#Descargo uno de los datasets
! kaggle datasets download -d utkarshx27/starbucks-nutrition

Downloading starbucks-nutrition.zip to /home/coder/working_dir
  0%|                                               | 0.00/1.81k [00:00<?, ?B/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.81k/1.81k [00:00<00:00, 629kB/s]

In [32]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.10/site-packages (2.9.6)

In [33]:
import os
import psycopg2


from pyspark.sql import SparkSession
from pyspark.sql.functions import when, lit, col

In [34]:
driver_path = "/home/coder/working_dir/driver_jdbc/postgresql-42.5.2.jar"

In [35]:
os.environ['PYSPARK_SUBMIT_ARGS'] = f'--driver-class-path {driver_path} --jars {driver_path} pyspark-shell'
os.environ['SPARK_CLASSPATH'] = driver_path

In [36]:
spark = SparkSession.builder \
        .master("local") \
        .appName("Conexion entre Pyspark y Redshift") \
        .config("spark.jars", driver_path) \
        .config("spark.executor.extraClassPath", driver_path) \
        .getOrCreate()

In [37]:
env = os.environ

In [38]:
#Dataframe
df = spark.read.csv("/home/coder/working_dir/starbucks.csv", sep=",", header=True)

In [39]:
df.show()

+---+--------------------+--------+---+----+-----+-------+------+
|_c0|                item|calories|fat|carb|fiber|protein|  type|
+---+--------------------+--------+---+----+-----+-------+------+
|  1|        8-Grain Roll|     350|  8|  67|    5|     10|bakery|
|  2|   Apple Bran Muffin|     350|  9|  64|    7|      6|bakery|
|  3|       Apple Fritter|     420| 20|  59|    0|      5|bakery|
|  4|     Banana Nut Loaf|     490| 19|  75|    4|      7|bakery|
|  5|Birthday Cake Min...|     130|  6|  17|    0|      0|bakery|
|  6|   Blueberry Oat Bar|     370| 14|  47|    5|      6|bakery|
|  7|     Blueberry Scone|     460| 22|  61|    2|      7|bakery|
|  8|Bountiful Blueber...|     370| 14|  55|    0|      6|bakery|
|  9|   Butter Croissant |     310| 18|  32|    0|      5|bakery|
| 10|       Cheese Danish|     420| 25|  39|    0|      7|bakery|
| 11|Chocolate Chunk C...|     380| 17|  51|    2|      4|bakery|
| 12|Chocolate Cinnamo...|     320| 12|  53|    3|      6|bakery|
| 13| Chocolate Croissant|     300| 17|  34|    2|      5|bakery|
| 14|Chocolate Old-Fas...|     420| 21|  57|    2|      5|bakery|
| 15|        Chonga Bagel|     310|  5|  52|    3|     12|bakery|
| 16| Cinnamon Chip Scone|     480| 18|  70|    3|      7|bakery|
| 17|Cranberry Orange ...|     490| 18|  73|    2|      8|bakery|
| 18|Double Chocolate ...|     410| 24|  46|    3|      6|bakery|
| 19|Double Fudge Mini...|     130|  7|  16|    0|      0|bakery|
| 20|Everything with C...|     280|  2|  56|    2|     10|bakery|
+---+--------------------+--------+---+----+-----+-------+------+
only showing top 20 rows

In [41]:
#Le renombro una columna ID a la tabla
df_to_write = df.withColumnRenamed("_c0","id")
df_to_write.printSchema()
df_to_write.show()

root
 |-- id: string (nullable = true)
 |-- item: string (nullable = true)
 |-- calories: string (nullable = true)
 |-- fat: string (nullable = true)
 |-- carb: string (nullable = true)
 |-- fiber: string (nullable = true)
 |-- protein: string (nullable = true)
 |-- type: string (nullable = true)

+---+--------------------+--------+---+----+-----+-------+------+
| id|                item|calories|fat|carb|fiber|protein|  type|
+---+--------------------+--------+---+----+-----+-------+------+
|  1|        8-Grain Roll|     350|  8|  67|    5|     10|bakery|
|  2|   Apple Bran Muffin|     350|  9|  64|    7|      6|bakery|
|  3|       Apple Fritter|     420| 20|  59|    0|      5|bakery|
|  4|     Banana Nut Loaf|     490| 19|  75|    4|      7|bakery|
|  5|Birthday Cake Min...|     130|  6|  17|    0|      0|bakery|
|  6|   Blueberry Oat Bar|     370| 14|  47|    5|      6|bakery|
|  7|     Blueberry Scone|     460| 22|  61|    2|      7|bakery|
|  8|Bountiful Blueber...|     370| 14|  55|    0|      6|bakery|
|  9|   Butter Croissant |     310| 18|  32|    0|      5|bakery|
| 10|       Cheese Danish|     420| 25|  39|    0|      7|bakery|
| 11|Chocolate Chunk C...|     380| 17|  51|    2|      4|bakery|
| 12|Chocolate Cinnamo...|     320| 12|  53|    3|      6|bakery|
| 13| Chocolate Croissant|     300| 17|  34|    2|      5|bakery|
| 14|Chocolate Old-Fas...|     420| 21|  57|    2|      5|bakery|
| 15|        Chonga Bagel|     310|  5|  52|    3|     12|bakery|
| 16| Cinnamon Chip Scone|     480| 18|  70|    3|      7|bakery|
| 17|Cranberry Orange ...|     490| 18|  73|    2|      8|bakery|
| 18|Double Chocolate ...|     410| 24|  46|    3|      6|bakery|
| 19|Double Fudge Mini...|     130|  7|  16|    0|      0|bakery|
| 20|Everything with C...|     280|  2|  56|    2|     10|bakery|
+---+--------------------+--------+---+----+-----+-------+------+
only showing top 20 rows

In [42]:
os.environ['AWS_REDSHIFT_USER']='danisa_altamirano9_coderhouse'
os.environ['AWS_REDSHIFT_PASSWORD']='JNl7RO87TW'
os.environ['AWS_REDSHIFT_HOST']='data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com'
os.environ['AWS_REDSHIFT_PORT']='5439'
os.environ['AWS_REDSHIFT_DBNAME']='data-engineer-database'
os.environ['AWS_REDSHIFT_SCHEMA']='danisa_altamirano9_coderhouse'

In [43]:
# Connect to Redshift using psycopg2
conn = psycopg2.connect(
    host=env['AWS_REDSHIFT_HOST'],
    port=env['AWS_REDSHIFT_PORT'],
    dbname=env['AWS_REDSHIFT_DBNAME'],
    user=env['AWS_REDSHIFT_USER'],
    password=env['AWS_REDSHIFT_PASSWORD']
)

In [44]:
cursor = conn.cursor()

cursor.execute(f"""
create table if not exists {env['AWS_REDSHIFT_SCHEMA']}.entregable1 (
    id int,
    item varchar, 
    calories int, 
    fiber int, 
    protein int, 
    type varchar);
""")
conn.commit()
cursor.close()
print("Table created!")

Table created!

In [233]:
cursor = conn.cursor()
cursor.execute(f"""
SELECT
  distinct tablename
FROM
  PG_TABLE_DEF
WHERE
  schemaname = '{env['AWS_REDSHIFT_SCHEMA']}';
""")
# resultado = cursor.fetchall()
print(", ".join(map(lambda x: x[0], cursor.fetchall())))
cursor.close()

In [ ]:
df_to_write.write \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{env['AWS_REDSHIFT_HOST']}:{env['AWS_REDSHIFT_PORT']}/{env['AWS_REDSHIFT_DBNAME']}") \
    .option("dbtable", f"{env['AWS_REDSHIFT_SCHEMA']}.entregable1") \
    .option("user", env['AWS_REDSHIFT_USER']) \
    .option("password", env['AWS_REDSHIFT_PASSWORD']) \
    .option("driver", "org.postgresql.Driver") \
    .mode("overwrite") \
    .save()

<b><h1>ENTREGABLE NRO 2<h1><b>

In [253]:
from sqlalchemy import create_engine
import pandas as pd

In [261]:
#Renombre el nombre de la columna type
df2.rename(columns = {'type':'category'}, inplace = True)

In [240]:
cursor = conn.cursor()

cursor.execute(f"""
create table if not exists {env['AWS_REDSHIFT_SCHEMA']}.entregable1_v2 (
    id int,
    item varchar, 
    calories int, 
    fiber int, 
    protein int, 
    type varchar);
""")
conn.commit()
cursor.close()
print("Table created!")

Table created!

In [234]:
df2

,item,calories,fat,carb,fiber,protein,category
1,8-Grain Roll,350,8.0,67,5,10,bakery
2,Apple Bran Muffin,350,9.0,64,7,6,bakery
3,Apple Fritter,420,20.0,59,0,5,bakery
4,Banana Nut Loaf,490,19.0,75,4,7,bakery
5,Birthday Cake Mini Doughnut,130,6.0,17,0,0,bakery
...,...,...,...,...,...,...,...
73,Tarragon Chicken Salad Sandwich,420,13.0,46,6,32,sandwich
74,Turkey & Swiss Sandwich,390,13.0,36,2,34,sandwich
75,Greek Yogurt Honey Parfait,300,12.0,44,0,8,parfait
76,Peach Raspberry Yogurt Parfait,300,4.0,57,3,10,parfait
77,Strawberry & Blueberry Yogurt Parfait,300,3.5,60,3,7,parfait

In [243]:
df = df2

In [249]:
cursor = conn.cursor()
df2.

In [246]:
df_to_write.write \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{env['AWS_REDSHIFT_HOST']}:{env['AWS_REDSHIFT_PORT']}/{env['AWS_REDSHIFT_DBNAME']}") \
    .option("dbtable", f"{env['AWS_REDSHIFT_SCHEMA']}.entregable1_v2") \
    .option("user", env['AWS_REDSHIFT_USER']) \
    .option("password", env['AWS_REDSHIFT_PASSWORD']) \
    .option("driver", "org.postgresql.Driver") \
    .mode("overwrite") \
    .save()

In [227]:
#Levanto el DF con la libreria descargada de PANDAS
df2=pd.read_csv("/home/coder/working_dir/starbucks.csv", index_col=[0])

In [203]:
#Controlar que no haya duplicados
df2.duplicated()

1     False
2     False
3     False
4     False
5     False
      ...
73    False
74    False
75    False
76    False
77    False
Length: 77, dtype: bool

In [144]:
#Ordeno el dataframe de acuerdo a los valores de la columna TYPE
print(df2.sort_values('type'))

                                  item  calories   fat  carb  fiber  protein
1                         8-Grain Roll       350   8.0    67      5       10  \
24              Maple Oat Pecan Scone        440  18.0    59      3        8
25                   Marble Pound Cake       350  13.0    54      0        6
26               Marshmallow Dream Bar       210   4.0    43      0        0
27                         Morning Bun       350  16.0    45      2        6
..                                 ...       ...   ...   ...    ...      ...
70                  Ham & Swiss Panini       360   9.0    43      2       28
71  Roasted Tomato & Mozzarella Panini       390  18.0    44      3       15
72            Roasted Vegetable Panini       350  12.0    48      4       13
73     Tarragon Chicken Salad Sandwich       420  13.0    46      6       32
74             Turkey & Swiss Sandwich       390  13.0    36      2       34

        type
1     bakery
24    bakery
25    bakery
26    bakery
27    bakery
..       ...
70  sandwich
71  sandwich
72  sandwich
73  sandwich
74  sandwich

[77 rows x 7 columns]

In [145]:
print(df2.groupby('type').get_group('bakery'))

                                             item  calories   fat  carb
1                                    8-Grain Roll       350   8.0    67  \
2                               Apple Bran Muffin       350   9.0    64
3                                   Apple Fritter       420  20.0    59
4                                 Banana Nut Loaf       490  19.0    75
5                     Birthday Cake Mini Doughnut       130   6.0    17
6                               Blueberry Oat Bar       370  14.0    47
7                                 Blueberry Scone       460  22.0    61
8                      Bountiful Blueberry Muffin       370  14.0    55
9                               Butter Croissant        310  18.0    32
10                                  Cheese Danish       420  25.0    39
11                         Chocolate Chunk Cookie       380  17.0    51
12                       Chocolate Cinnamon Bread       320  12.0    53
13                            Chocolate Croissant       300  17.0    34
14               Chocolate Old-Fashioned Doughnut       420  21.0    57
15                                   Chonga Bagel       310   5.0    52
16                            Cinnamon Chip Scone       480  18.0    70
17                         Cranberry Orange Scone       490  18.0    73
18                       Double Chocolate Brownie       410  24.0    46
19                     Double Fudge Mini Doughnut       130   7.0    16
20                   Everything with Cheese Bagel       280   2.0    56
21                         Ginger Molasses Cookie       360  12.0    58
22                          Iced Lemon Pound Cake       490  23.0    67
23                           Mallorca Sweet Bread       420  25.0    42
24                         Maple Oat Pecan Scone        440  18.0    59
25                              Marble Pound Cake       350  13.0    54
26                          Marshmallow Dream Bar       210   4.0    43
27                                    Morning Bun       350  16.0    45
28                               Multigrain Bagel       300   3.0    60
29                  Old-Fashioned Glazed Doughnut       420  21.0    57
30                      Outrageous Oatmeal Cookie       370  14.0    56
31                      Petite Vanilla Bean Scone       140   5.0    21
32                                    Plain Bagel       280   1.0    59
33                                  Pumpkin Bread       390  14.0    61
34                                 Pumpkin Scone        480  17.0    78
35                                Raspberry Scone       480  25.0    59
36                     Raspberry Swirl Pound Cake       430  16.0    69
37  Reduced-Fat Banana Chocolate Chip Coffee Cake       400   8.0    80
38         Reduced-Fat Cinnamon Swirl Coffee Cake       340   9.0    62
39            Reduced-Fat Very Berry Coffee Cake        350  10.0    59
40                  Starbucks Classic Coffee Cake       440  19.0    63
41                        Zucchini Walnut Muffin        490  28.0    52

    fiber  protein    type
1       5       10  bakery
2       7        6  bakery
3       0        5  bakery
4       4        7  bakery
5       0        0  bakery
6       5        6  bakery
7       2        7  bakery
8       0        6  bakery
9       0        5  bakery
10      0        7  bakery
11      2        4  bakery
12      3        6  bakery
13      2        5  bakery
14      2        5  bakery
15      3       12  bakery
16      3        7  bakery
17      2        8  bakery
18      3        6  bakery
19      0        0  bakery
20      2       10  bakery
21      0        3  bakery
22      0        5  bakery
23      0        7  bakery
24      3        8  bakery
25      0        6  bakery
26      0        0  bakery
27      2        6  bakery
28      6       15  bakery
29      0        4  bakery
30      3        5  bakery
31      0        0  bakery
32      2        9  bakery
33      2        6  bakery
34      2        6  bakery
35      3        8  bakery
36      0        4  bakery
37      4        5  bakery
38      2        4  bakery
39      4        7  bakery
40      0        6  bakery
41      2        7  bakery

In [146]:
#Agrupo los datos por los distintos tipos de productos
df_by_type = df2.groupby(by = "type")

In [147]:
df_by_type.groups

{'bakery': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41], 'bistro box': [42, 43, 44, 45, 46, 47, 48, 49], 'hot breakfast': [59, 60, 61, 62, 63, 64, 65, 66], 'parfait': [75, 76, 77], 'petite': [50, 51, 52, 53, 54, 55, 56, 57, 58], 'salad': [67], 'sandwich': [68, 69, 70, 71, 72, 73, 74]}

In [148]:
#Cuantos productos hay por categoria
df_by_type.size()

type
bakery           41
bistro box        8
hot breakfast     8
parfait           3
petite            9
salad             1
sandwich          7
dtype: int64

In [158]:
#Producto con valores generales mas altos
df2.max()

item        Zucchini Walnut Muffin
calories                        500
fat                            28.0
carb                             80
fiber                             7
protein                          34
type                       sandwich
dtype: object

In [188]:
#Seleccionar las columnas que necesito
df3 = df2.columns.isin(['calories','item','type'])

In [189]:
select = df2.columns[df3]

In [200]:
#producto con mayor calorias
df2[select].max()

item        Zucchini Walnut Muffin
calories                        500
type                       sandwich
dtype: object

In [201]:
#producto con menor calorias
df2[select].min()

item        8-Grain Roll
calories              80
type              bakery
dtype: object

In [196]:
df4 = df2.columns.isin(['fiber','item','type'])

In [197]:
select1 = df2.columns[df4]

In [199]:
#producto con mayor fibras
df2[select1].max()

item     Zucchini Walnut Muffin
fiber                          7
type                    sandwich
dtype: object